.bash_history
.cache/
.config/.gsd-keyboard.settings-ported
.config/GNOME-xdg-terminals.list
.config/dconf/user
.config/evolution/sources/system-proxy.source
.config/gnome-initial-setup-done
.config/gtk-3.0/bookmarks
.config/ibus/bus/
.config/pulse/cookie
.config/tiling-assistant/tiledSessionRestore.json
.config/ubuntu-xdg-terminals.list
.config/xdg-terminals.list
.gnupg/
.lesshst
.local/
.python_history
.rnd
.ssh/
.sudo_as_admin_successful
Desktop/
snap/firefox/
snap/firmware-updater/
snap/snap-store/
snap/snapd-desktop-integration/
